body.flyer{
	background:#fff;
}

.flyer_main
{
	margin: 7%;
}


.flyer_when, .flyer_where{
  text-align: right;
  font-size: 1.6em;
}

.flyer_when
{

}

.flyer_image img{
  width:100%;
}

.flyer_image{
  max-height:400px;
  overflow: hidden;
  margin-bottom:8px;
}

.flyer_image_overlay{
  position: absolute;
  font-size: 2em;
  margin-top: 100px;
  margin-left: 184px;
  z-index: 10;
  font-weight: bold;
  cursor:default;
}

.transparent_flyer_image
{
  zoom: 1; /* gives the object layout */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.hidden{
  display:none;
}

.flyer_title
{
  font-family: 'Tauri', Helvetica, Arial, sans-serif;
	text-align: left;
	font-size: 3em;
	vertical-align:center;
}

.flyer_where
{
	padding-bottom: 0;
}

.flyer_description
{
	margin: 20px 0px;
	font-size: 1em;
	text-align: left;
}

@media print
{
	.no-print, .no-print *
	{
		display: none !important;
    overflow: hidden;
	}

  .aloha-editable, .editable {
    outline:0 !important;
  }


	
}

.print-modal
{
	z-index:20;
	display:none;
	background: rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    box-shadow: 0 0 20px #000;
    -moz-box-shadow: 0 0 20px #000;
    -webkit-box-shadow: 0 0 10px #000;
}

.print-modal-controls 
{
	border: 1px solid #ccc;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    top: 15px;
    left: 50%;
    margin: 0 0 0 -50px;
    position: fixed;
    padding: 5px;
    background: rgba(250, 250, 250, 0.75);
    cursor:pointer;
}

.print_button{}

.border-highlight{
   outline: #f4edc6 solid 5px !important;
}
